.profileGrid {

    .profileImageContainer {
        border: 6px solid white;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.075), 0 6px 10px 0 rgba(0, 0, 0, 0.075);

        img {
            width: 100%;
        }
    }

    .nameAndReviews {
        h1 {
            text-align: left;
            padding-top: 15px;
        }

        p {
            text-align: left;
        }
    }

    .midRow {
        padding-top: 0 !important;
    }

    .followBtn,
    .sendRequestBtn {
        margin-top: 20px;
        padding: 12px;
        width: 145px;
    }

    .subcategories {
        width: 145px;
        // margin-right: 5.5px;
    }

    .ui.vertical.menu {
        width: 14rem;
    }

    h3 {
        text-align: left;
    }

    .location {
        padding-left: 5px;
    }

    .reviews {
        padding-left: 5px;
        margin-top: 12px;
    }

    .followerCount {
        margin-top: 0;
    }
}