.suggestedAccount {
    width: 300px;
    text-align: left;
    margin-top: 0 !important;

    .rowNoBottomPadding {
        padding-top: 0.5rem;
        padding-bottom: 0 !important;
    }

    .suggestedProfileImage {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.075), 0 6px 10px 0 rgba(0, 0, 0, 0.075);
    }

    .columnNoLeftPadding {
        padding-left: 0px !important;
    }

    h5 {
        margin-top: 7px;
    }
}